﻿@model LuxyryWatch.Models.SanPham
@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
<script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('ThongSo');
        CKEDITOR.replace('MoTa');

        var sanpham = {
            init: function () {
                sanpham.registerEvents();
            },
            registerEvents: function () {
                $('#btnChooImages').off('click').on('click', function (e) {
                    e.preventDefault();
                    var finder = new CKFinder();
                    finder.selectActionFunction = function (url) {
                        $('#imageList').append('<div style="float:left;min-height:100%;" class="p-1"><img src="' + url + '" width="100" heigtht="100" /><a href="#" class="btn-delImage"><i class="fa fa-times"></i></a></div>');
                        $('.btn-delImage').off('click').on('click', function (e) {
                            e.preventDefault();
                            $(this).parent().remove();
                        });
                    };
                    finder.popup();
                });
                $('#save').click(function () {
                    var img = [];
                    $.each($('#imageList img'), function (i, item) {
                        img.push($(item).prop('src'));
                    })
                    $('#listAnh').val(img);
                })
        }
        }
        sanpham.init();

    });

</script>
<div class="card shadow mb-4">
    <div style="padding: 10px;">
        <h2>Tạo mới sản phẩm</h2>
        <h3 style="color:red;">@ViewBag.ThongBao</h3>
        <hr />
        <h2 style="color: red;">@ViewBag.ThongBao</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker" } })
                            <input name="NgayCapNhat" type="date" />
                            @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.ThongSo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.ThongSo, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea id="ThongSo" name="ThongSo"></textarea>
                        @Html.ValidationMessageFor(model => model.ThongSo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea id="MoTa" name="MoTa"></textarea>
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group p-1 modal-body">
                    @Html.Label("Hình ảnh sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="imageList" style="min-height:100%; margin: 5px; overflow:auto;">
                        </div>
                        <div class="clear"></div>
                        <input type="button" id="btnChooImages" class="btn btn-primary" value="Chọn ảnh" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SoLanMua, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoLanMua, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLanMua, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Moi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Moi)
                            @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaNCC, "Nhà Cung Cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaNSX, "Nhà sản xuất", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaLoaiSP, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaLoaiSP", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input id="listAnh" type="text" style="display: none" name="listAnh" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" id="save" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Quay lại", "DanhSachSanPham")
        </div>
    </div>
</div>

