@model LuxyryWatch.Models.LoaiThanhVien

@{
    ViewBag.Title = "ThemLoaiThanhVien";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div style="padding: 10px;">
        <h2>Tạo mới loại thành viên</h2>
        <h3 style="color:red;">@ViewBag.ThongBao</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TenLoaiTV, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenLoaiTV, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenLoaiTV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.uuDai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.uuDai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.uuDai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Quay lại", "DanhSachLoaiThanhVien")
        </div>
    </div>
</div>

