@using LuxyryWatch.Models
@model DonDatHang
@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div style="padding: 10px;">
        <h2>Thông tin đơn hàng <font color="#f65e84">@Model.KhachHang.TenKH</font></h2>
        @using (Html.BeginForm())
        {
            <div class="ChiTietDonHang table">
                @{ IEnumerable<ChiTietDonDatHang> listChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
                <table class="table" id="table1">
                    <tr>
                        <td colspan="4">
                            <table style="width:100%;">
                                <tr>
                                    <td>Mã đơn hàng: <br /> <b style="color:red;">@Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></td>
                                    <td>Tên khách hàng:<br /> <b style="color:red;">@Model.KhachHang.TenKH</b></td>
                                    <td>Ngày đặt:<br />@Model.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        Ngày giao:<br />@{ string x = null; if (Model.NgayGiao != null) { x = Model.NgayGiao.Value.ToString("yyyy-MM-dd"); }
                                        }<input type="date" name="NgayGiao" value="@x">
                                    </td>
                                    <td>Đã thanh toán:<br /> @Html.EditorFor(model => model.DaThanhToan)</td>
                                    <td>Giao hàng:<br /> @Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                                    <td>Hủy:<br /> @Html.EditorFor(model => model.DaHuy)</td>
                                    <td>Hoàn thành:<br /> @Html.EditorFor(model => model.HoanThanh)</td>
                                    <td>Phương thức thanh toán:</td>
                                    <td>
                                        <select id="paymentMethod" name="paymentMethod">
                                            <option value="cash">Tiền mặt</option>
                                            <option value="bankTransfer">Chuyển khoản</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%"><b>Mã sản phẩm</b></td>
                        <td style="width:30%"><b>Sản phẩm</b></td>
                        <td style="width: 10%;" ><b>Số lượng đặt</b></td>
                        <td style="width: 25%;"><b>Đơn giá đặt</b></td>
                        <td style="width: 25%;"><b>Thành tiền</b></td>
                    </tr>
                    @foreach (var item in listChiTietDH)
                    {
                        <tr>
                            <td style="width: 10%;">@item.SanPham.MaSP</td>
                            <td style="width: 30%;">@item.SanPham.TenSP</td>
                            <td style="width: 10%;">@item.SoLuong</td>
                            @{ decimal thanhtien = (decimal)(@item.DonGia * @item.SoLuong);}
                            <td style="width: 25%;">@item.DonGia.Value.ToString("#,##")</td>
                            <td style="width: 25%;">@thanhtien.ToString("#,##")</td>
                        </tr>
                    }
                    <tr>
                        <td align="right" colspan="4">Tổng số lượng: @Model.ChiTietDonDatHangs.Sum(n => n.SoLuong) sản phẩm</td>
                    </tr>
                    @if (Model.UuDai > 0)
                    {
                        <tr>
                            <td align="right" colspan="4">Tổng tiền:@Model.ChiTietDonDatHangs.Sum(n => n.ThanhTien).Value.ToString("#,##") đồng</td>
                        </tr>
                        <tr>
                            <td align="right" colspan="4">Ưu đãi:@Model.UuDai %</td>
                        </tr>
                    }
                    <tr>
                        <td align="right" colspan="4">Tổng tiền:@Model.TongThanhToan.Value.ToString("#,##") đồng</td>
                    </tr>
                </table>
                <div class="buttons">
                    <input type="button" value="In đơn hàng" id="btnInDonHang" class="btn btn-send" />
                    <input type="submit" value="Lưu đơn hàng" id="btnDuyetDonHang" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>

<script>
    $("#btnInDonHang").click(function () {
        var content = "<table>" + $("#table1").html() + "</table>";
        InDonHang(content);
    });
    $("#btnDuyetDonHang").click(function () {
        var content = $("#table2").html();
        $("#hd").val(content);
    });

    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>Print Invoice</title>');
        printWindow.document.write('<style>');
        printWindow.document.write('body { font-family: Arial, sans-serif; }');
        printWindow.document.write('table { width: 100%; border-collapse: collapse; }');
        printWindow.document.write('th, td { border: 1px solid #dddddd; text-align: left; padding: 8px; }');
        printWindow.document.write('th { background-color: #f2f2f2; }');
        printWindow.document.write('</style>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

</script>
