@using PagedList.Mvc
@using LuxyryWatch.Models
@model PagedList.IPagedList<LoaiSanPham>
@{
    ViewBag.Title = "DanhSachLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý loại sản phẩm</h6>
    </div>
    <div class="col-md-4">
        <br />
        @using (Html.BeginForm("DanhSachLoaiSanPham", "QuanLyLoaiSanPham"))
        {
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.search" name="search">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
                <a href="@Url.Action("ThemLoaiSanPham", "QuanLyLoaiSanPham")" type="submit" class="btn btn-success">Thêm mới</a>
            </form>

            @*<form>
                    <input type="text" class="form-control" value="@ViewBag.search" name="search" />
                    <input type="submit" class="btn btn-danger" value="Tìm kiếm" />
                    <a href="@Url.Action("ThemLoaiSanPham", "QuanLyLoaiSanPham")" type="submit" class="btn btn-success">Thêm mới</a>
                </form>*@
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã loại sản phẩm</th>
                        <th>Tên loại sản phẩm</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaLoaiSP">
                            <td>@item.MaLoaiSP</td>
                            <td>@item.TenLoaiSP</td>
                            <td>
                                <a href="@Url.Action("SuaLoaiSanPham", "QuanLyLoaiSanPham", new { @MaLoaiSP = item.MaLoaiSP })">Sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "XoaLoaiSanPham", new { @MaLoaiSP = item.MaLoaiSP }, new AjaxOptions
                                {
                               Confirm = "Bạn có muốn xóa nhà cung cấp này?",
                               OnComplete = "$('#row_" + @item.MaLoaiSP + "').remove()",
                               OnSuccess = "location.reload()"
                           })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div>
            @Html.PagedListPager(Model, Page => Url.Action("DanhSachLoaiSanPham", new
       {
           page = Page,
           @search = @ViewBag.search
       }), new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "item" },

       })
        </div>
    </div>

</div>
<style>
    .item {
        height: 30px;
        width: 30px;
        padding-top: 2px;
        border: 0.5px solid pink;
        text-align: center;
        border-radius: 3px;
    }

        .item a {
            color: black;
            text-decoration: none;
        }

    .pagination .active {
        background-color: #337AB7;
        color: white;
    }

    .item:hover {
        background-color: #EEEEEE;
    }
</style>
