@using PagedList.Mvc
@using LuxyryWatch.Models
@model PagedList.IPagedList<ItemSanPham>
@{
    ViewBag.Title = "HienThiDanhSachSanPham";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
@{
    IEnumerable<SanPhamKhuyenMai> LSPKM = (IEnumerable<SanPhamKhuyenMai>)ViewBag.LSMPK;
    IEnumerable<NhaSanXuat> LNSX = (IEnumerable<NhaSanXuat>)ViewBag.HangSanXuat;
    IEnumerable<LoaiSanPham> LLSP = (IEnumerable<LoaiSanPham>)ViewBag.LoaiSanPham;
    IEnumerable<SanPham> LSP = (IEnumerable<SanPham>)ViewBag.ListSP;
}
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>@ViewBag.TenLoaiSP @ViewBag.TenNSX</span>
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <div class="row">
                            @foreach (var item in Model.Take(3))
                            {
                                <div class="col-md-4 product-men mt-md-0 mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            @if (item.HinhAnh != null)
                                            {
                                                <img src="@Url.Content("~"+item.HinhAnh)" alt="" style="height: 200px; width: 200px;" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/HinhAnhSP/anh-blogspot-khong-hien-thi.png" style="height: 200px; width: 200px;" />
                                            }
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            @if (item.Moi == true)
                                            {
                                                <span class="product-new-top">New</span>
                                            }
                                        </div>
                                        <div class="item-info-product text-center border-top mt-4">
                                            <h4 class="pt-1">
                                                <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })">@item.TenSP</a>
                                            </h4>
                                            @if (LSPKM == null)
                                            {
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                </div>
                                            }
                                            else
                                            {
                                                SanPhamKhuyenMai SPKM = LSPKM.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                if (SPKM != null)
                                                {
                                                    SanPham SP = LSP.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                    <div class="info-product-price my-2">
                                                        <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                        <del>@SP.DonGia.Value.ToString("#,##")</del>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="info-product-price my-2">
                                                        <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                    </div>
                                                }
                                            }

                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP, @strUrl = Request.Url.ToString() })" class="hiengiohang"><input type="submit" name="submit" value="Add to cart" class="button btn"></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- //first section -->
                    <!-- second section -->
                    @if (Model.Count() > 3)
                    {
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <div class="row">
                                @foreach (var item in Model.Skip(3).Take(3))
                                {
                                    <div class="col-md-4 product-men mt-md-0 mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                @if (item.HinhAnh != null)
                                                {
                                                    <img src="@Url.Content("~"+item.HinhAnh)" alt="" style="height: 200px; width: 200px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/HinhAnhSP/anh-blogspot-khong-hien-thi.png" style="height: 200px; width: 200px;" />
                                                }
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @if (item.Moi == true)
                                                {
                                                    <span class="product-new-top">New</span>
                                                }
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })">@item.TenSP</a>
                                                </h4>
                                                @if (LSPKM == null)
                                                {
                                                    <div class="info-product-price my-2">
                                                        <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    SanPhamKhuyenMai SPKM = LSPKM.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                    if (SPKM != null)
                                                    {
                                                        SanPham SP = LSP.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                        <div class="info-product-price my-2">
                                                            <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                            <del>@SP.DonGia.Value.ToString("#,##")</del>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="info-product-price my-2">
                                                            <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                        </div>
                                                    }
                                                }

                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP, @strUrl = Request.Url.ToString() })" class="hiengiohang"><input type="submit" name="submit" value="Add to cart" class="button btn"></a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!-- //second section -->
                    <!-- 3rd section -->
                    @if (Model.Count() > 6)
                    {
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
                            <div class="row">
                                @foreach (var item in Model.Skip(6).Take(3))
                                {
                                    <div class="col-md-4 product-men mt-md-0 mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                @if (item.HinhAnh != null)
                                                {
                                                    <img src="@Url.Content("~"+item.HinhAnh)" alt="" style="height: 200px; width: 200px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/HinhAnhSP/anh-blogspot-khong-hien-thi.png" style="height: 200px; width: 200px;" />
                                                }
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @if (item.Moi == true)
                                                {
                                                    <span class="product-new-top">New</span>
                                                }
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="@Url.Action("HienThiChiTietSanPham", "SanPham", new { @MaSP = item.MaSP })">@item.TenSP</a>
                                                </h4>
                                                @if (LSPKM == null)
                                                {
                                                    <div class="info-product-price my-2">
                                                        <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    SanPhamKhuyenMai SPKM = LSPKM.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                    if (SPKM != null)
                                                    {
                                                        SanPham SP = LSP.SingleOrDefault(x => x.MaSP == item.MaSP);
                                                        <div class="info-product-price my-2">
                                                            <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                            <del>@SP.DonGia.Value.ToString("#,##")</del>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="info-product-price my-2">
                                                            <span class="item_price">@item.DonGia.Value.ToString("#,##")</span>
                                                        </div>
                                                    }
                                                }

                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP, @strUrl = Request.Url.ToString() })" class="hiengiohang"><input type="submit" name="submit" value="Add to cart" class="button btn"></a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!-- //3rd section -->
                    <!-- fourth section -->
                    <!-- //fourth section -->
                    <div>
                        @Html.PagedListPager(Model, Page => Url.Action("HienThiDanhSachSanPham", new
                   {
                       page = Page,
                       @MaLoaiSP = @ViewBag.MaLoaiSP,
                       @MaNSX = @ViewBag.MaNSX,
                       @txtTimKiem1 = @ViewBag.Timkiem1,
                       @SapXep = @ViewBag.SapXep,
                       @Gia = @ViewBag.Gia,
                   }), new PagedListRenderOptions
                   {
                       LiElementClasses = new string[] { "item" },

                   })
                    </div>
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Brand</h3>
                        @using (Html.BeginForm("HienThiDanhSachSanPham", "SanPham"))
                        {
                            <form>
                                <input type="search" placeholder="Search Brand..." name="txtTimKiem1" value="@ViewBag.Timkiem1">
                                <input type="submit" value=">" />
                            </form>
                        }
                    </div>
                    <!-- ram -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Loại sản phẩm</h3>
                        <div class="w3l-range">
                            <ul>
                                @foreach (var item in LLSP)
                                {
                                    <li>
                                        <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = item.MaLoaiSP})">@item.TenLoaiSP</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- //ram -->
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Hãng sản xuất</h3>
                        <div class="w3l-range">
                            <ul>
                                @foreach (var item in LNSX)
                                {
                                    <li>
                                        <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaNSX = item.MaNSX})">@item.TenNSX</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Sắp xếp</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @SapXep = "G", @Gia = ViewBag.Gia, @txtTimKiem1 = ViewBag.Timkiem1})">Giá giảm dần</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @SapXep = "T", @Gia = ViewBag.Gia, @txtTimKiem1 = ViewBag.Timkiem1})">Giá tăng dần</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giá</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @Gia = "1", @txtTimKiem1 = ViewBag.Timkiem1})">Dưới 5 triệu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @Gia = "2", @txtTimKiem1 = ViewBag.Timkiem1})">Từ 5 - 10 triệu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @Gia = "3", @txtTimKiem1 = ViewBag.Timkiem1})">Từ 10 - 20 triệu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @Gia = "4", @txtTimKiem1 = ViewBag.Timkiem1})">Từ 20 - 50 triệu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HienThiDanhSachSanPham", "SanPham", new{  @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX, @Gia = "5", @txtTimKiem1 = ViewBag.Timkiem1})">Trên 50 triệu</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //arrivals -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>

<style>
    .item {
        height: 30px;
        width: 30px;
        padding-top: 2px;
        border: 0.5px solid pink;
        text-align: center;
        border-radius: 3px;
    }

        .item a {
            color: black;
            text-decoration: none;
        }

    .pagination .active {
        background-color: #337AB7;
        color: white;
    }

    .item:hover {
        background-color: #EEEEEE;
    }
</style>